language: ruby
rvm:
- "2.0"
- "2.1"
- "2.2.5"
- "2.3.4"
- "2.4.1"
- ruby-head
- jruby-head
sudo: false
cache: bundler
before_install: gem install bundler -v ">=1.12"
after_script: bundle exec codeclimate-test-reporter
matrix:
  allow_failures:
  - rvm: ruby-head
  - rvm: jruby-head
  fast_finish: true
